*{
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.calender-box{
  height: 50px;
  width: 50px;
  background-color: rgb(201, 198, 198);
  margin-right: -100px;
  position: absolute;
  top: 80%;
  padding: 5px;
  border-radius: 10px;
}

.box-info{
  margin-top: -20px;
}

.value{
  background-color: red;
}