*{
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.calender-box{
  height: 50px;
  width: 50px;
  background-color: rgb(201, 198, 198);
  margin-right: -100px;
  position: absolute;
  top: 80%;
  padding: 5px;
  border-radius: 10px;
}

.box-info{
  margin-top: -20px;
}

.value{
  background-color: red;
}

.circleOne{
  height: 300px;
  width: 300px;
  border-radius: 200px;
  /* background-color: rgb(224, 210, 210); */
  margin-top: 40px;
  position: relative;
  color: violet;
  border: 6px solid #e9fafa;
  
}
.circleOneinner1{
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background-color: #5c8a8a;
  border: 1px solid white;
}

.circleOneinner2{
  height: 260px;
  width: 260px;
  border-radius: 50%;
  background-color: rgb(34, 31, 31);
}

.circleOneinner3{
  height: 245px;
  width: 245px;
  border-radius: 50%;
  background-color: #b3cccc;
  
}

.circleOneinner4{
  height: 235px;
  width: 236px;
  border-radius: 50%;
  border: #293d3d 1px solid;
  background-color: #e6ffff;
}

.circleTwo{
  height: 140px;
  width: 160px;
  border-radius: 50%;
  background-color: #5c8a8a;
  position: relative;
  top: -10%;
  left: -3%;
}

.circleThree{
  height: 140px;
  width: 160px;
  border-radius: 50%;
  background-color: #5c8a8a;
  position: relative;
  top: 32%;
  left: -20%;
}

/* com */
.circleFour{
  height: 130px;
  width: 160px;
  border-radius: 50%;
  background-color: #5c8a8a;
  position: relative;
  top: -10%;
  left: 22%;
}

.circleFive{
  height: 130px;
  width: 160px;
  border-radius: 50%;
  background-color: #5c8a8a;
  position: relative;
  top: 30%;
  left: 13%;
}

.circleSix{
  height: 80px;
  width: 100px;
  border-radius: 50%;
  background-color: #147a7a;
  position: relative;
  top: 10%;
  left: -20%;
}

.circleSeven{
  height: 90px;
  width: 110px;
  border-radius: 50%;
  background-color: #aa2424;
  position: relative;
  top: 10%;
  left: -10%;
}

.circleEight{
  height: 60px;
  width: 80px;
  border-radius: 50%;
  background-color: #f1ebeb;
  position: relative;
  top: 1%;
  left: -19%;
}

.circleNine{
  height: 80px;
  width: 100px;
  border-radius: 100%;
  background-color: #293d3d;
  position: relative;
  top: 10%;
  left: -20%;
}


.circleinnerIn{
  height: 120px;
  width: 115px;
  border-radius: 50%;
  background-color: #e6ffff;
}
